<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Conference App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="intro">
        <h1>Welcome to my video conferencing app!</h1>
        <h2>For all your professional and personal needs!</h2>
        <a href="{% url 'login' %}" class="button">Sign In</a>
        <a href="{% url 'register' %}" class="button">Sign Up</a>
    </div>
    
</body>
</html>